<?xml version="1.0"?>
<robot name="my_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="common_properties1.xacro"/>
    <xacro:include filename="camera_stand.urdf.xacro"/>
    <xacro:include filename="camera_stand_gazebo.xacro"/>
    <xacro:include filename="camera.xacro"/>

</robot>