<?xml version="1.0" ?>
<model>
  <name>9821091809851</name>
  <version>1.0</version>
  <sdf version="1.6">9821091809851.sdf</sdf>
  <author>
    <name>Niteesh Nigam</name>
    <email>niteesh.nigam99@gmail.com</email>
  </author>
  <description>
    Delivery box texture config
  </description>
</model>
