<?xml version="1.0" ?>
<model>
  <name>6447659382117</name>
  <version>1.0</version>
  <sdf version="1.6">6447659382117.sdf</sdf>
  <author>
    <name>Niteesh Nigam</name>
    <email>niteesh.nigam99@gmail.com</email>
  </author>
  <description>
    Delivery box texture config
  </description>
</model>
